@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #111111;
}

.menu_categorias {
  background: #111;
}

.contenido_articulos {
  background: #fff;
}

.contacto {
  background: #111;
}

a.news {
  width: 100%;
  text-align: center;
  background: #121212;
  text-transform: uppercase;
  display: block;
  transition: all 1s;
  border: 10px solid #000;
}

a.news p {
  padding: 10px;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2rem;
}

a.news:hover {
  background: #0b0b0b;
}

.dash {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates three equal-width columns */
  grid-gap: 10px;
}

.news_img {
  height: 150px;
  overflow: hidden;
}

.contenido_feat {
  background: #111;
}

@media screen and (max-width: 1500px) {
  .dash {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .dash {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .dash {
    grid-template-columns: repeat(1, 1fr);
  }
}